@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a {
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }
}

@media (min-width: 1200px) {
    #page-home{
        background-position-x: 40vw;
    }

}


@media (min-width: 900px) {
    #page-home {
        background-size: 65%;
        background-position: 46vw 156px;
    }
}


@media (min-width: 1200px) {
    #page-home {
        background-size:auto;
        background-position: 35vw 100px;
    }
}